# Ignore these files

# Folders
/data/*

# Python pycache
/python/*.pyc

# R stuff
/dashboard/.Rproj.user
/dashboard/.Rhistory
/dashboard/.RData
.Rproj.user
/dashboard/data/summary_stats.sqlite

# Settings
/dashboard/settings/course_list.json
/dashboard/settings/postgres_defaults.json