<?xml version="1.0" encoding="UTF-8"?>
<settings>
	
	<courses>
		<slug>real-time-systems</slug>
		<slug>iot-architecture</slug>
		<slug>quantitative-formal-modeling-1</slug>
		<slug>design-thinking-entrepreneurs</slug>
		<slug>open-innovation-entrepreneurship</slug>
		<slug>impact-of-technology</slug>
		<slug>automata-system-validation</slug>
		<slug>iot-devices</slug>
		<slug>requirements-modal-formulas</slug>
		<slug>system-validation-behavior</slug>
		<slug>iot-modeling-software-protocols</slug>
		<slug>iot-software-architecture</slug>
		<slug>iot-connectivity-security</slug>
		<slug>parallelism</slug>
		<slug>computer-architecture-fundamentals</slug>
		<slug>embedded-operating-system</slug>
		<slug>quantitative-model-checking</slug>
	</courses>

	<datapath>/home/smnbalasubramanian/MOOCS_Dev/Dashboard_MOOCS/data</datapath>

	<jsonpath>/home/smnbalasubramanian/MOOCS_Dev/Dashboard_MOOCS/dashboard/settings</jsonpath>

</settings>