<?xml version="1.0" encoding="UTF-8"?>
<settings>
	
	<courses>
		<slug>human-language</slug>
		<slug>abdomen-anatomy</slug>
    <slug>clinical-kidney-transplantation</slug>
    <slug>comparative-political-economy</slug>
    <slug>mindfulness</slug>
    <slug>evolution-today</slug>
    <slug>decentralization-africa</slug>
    <slug>international-law-in-action-2</slug>
    <slug>international-law-in-action</slug>
    <slug>human-language</slug>
    <slug>truthinourbones-osteoarchaeology-archaeology</slug>
    <slug>international-taxation</slug>
    <slug>terrorism</slug>
    <slug>roosevelt</slug>

	</courses>

	<datapath>/home/shiny/coursera-data</datapath>

	<jsonpath>/srv/private-server/Dashboard_MOOCS/dashboard/settings</jsonpath>

</settings>