/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}
